<div id="time-select">
    <span class="time-active" data-id="1">06.08(周三)</span>
    <span data-id="2">06.09(周四)</span>
</div>
<table class="time-table">
    <thead>
        <tr>
            <th>
                放映时间
            </th>
            <th>
                语言版本
            </th>
            <th>
                价格
            </th>
            <th>
                选座
            </th>
        </tr>
    </thead>
</table>
<div class="book-table" id="table-1">
    <table class="time-table">
        <tbody>
            <tr>
                <td>
                    00:00
                </td>
                <td>
                    英语/3D
                </td>
                <td class="price">
                    ￥40.0
                </td>
                <td>
                    <div class="button book-button">
                        选座
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="book-table hidden" id="table-2">
    <table class="time-table">
        <tbody>
            <tr>
                <td>
                    00:00
                </td>
                <td>
                    英语/3D
                </td>
                <td class="price">
                    ￥40.0
                </td>
                <td>
                    <div class="button book-button">
                        选座
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>